# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Models
#models/*.pkl
models/*.joblib

# Mac
.DS_Store

# VS Code
.vscode/

# Logs
*.log
venv/
.DS_Store
.ipynb_checkpoints/
mlruns/
mlflow.db
archive.zip
files.zip
__pycache__/
